<header id="banner">
    
    <h2><a href="(( .Site.baseUrl ))">shafin siddique</a></h2>
    <nav>
        <ul>
            <li>
                <a href="(( .Site.baseUrl ))" title="about">about</a>
            </li>
            <li>
                (( postsUrl := (concat (.Site.baseUrl) "/posts")))
                <a href="(( postsUrl ))" title="posts">posts</a>
            </li>
            <li>
                (( projectsUrl := (concat (.Site.baseUrl) "/projects")))

                <a href="(( projectsUrl ))" title="projects">projects</a>
            </li>
        </ul>
    </nav>
</header>
